<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BarometerDataAccesLayer.Properties.Settings.LeapingCliffConnectionString"
            connectionString="Data Source=mssql.aii.avans.nl;Initial Catalog=LeapingCliff;Persist Security Info=True;User ID=42IN05SOb;Password=Ab12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>