@{
    ViewBag.Title = "Barometer Template aanmaken";
}

<script type="text/javascript">
    $(function () {
        var baro_template_id = @((ViewBag.debug_id == 0) ? 0 : ViewBag.debug_id);
        var startDrawing = function (e) {
            var templateName = $('#txt-template-name').val();
            var req  = $.get("/Baro/CreateTemplate", { name: templateName }, function (data, xhr, s) {
                if (data.status == "success") {
                    baro_template_id = data.baro_template_id;
                    $("#form-add-aspect input[name=baro_template_id]").val(baro_template_id)
                    $('#baro-template-editor').removeClass("hide").show();
                }
            }, "JSON");
        };
        
        var saveAspect = function (e) {
            var data = $('#form-add-aspect').serialize();
            var options = {
                data: $('#form-add-aspect').serialize(),
                url: '/Baro/AddAspect',
                type: 'POST',
                dataType: 'JSON'
            };

            $.ajax(options).done(function (response) {
                $('#baro-template-tree').html(response.html_tree);
                $('#form-parents-select').empty().append(response.html_select);
            });
        };


        $('#btn-save-aspect').click(saveAspect);
        $('#btn-start-draw').click(startDrawing);
    });
</script>


<div class="row">
    <div class="col-lg-12">
        <h2>Barometer template aanmaken</h2>
        <hr />
        <div class="row">
            <div class="form-group col-lg-10">
                <input type="text" id="txt-template-name" class="form-control" placeholder="Template naam" />
            </div>
            <div class="form-group col-lg-2">
                <button type="button" id="btn-start-draw" class="btn btn-danger">Maak aan</button>
            </div>
         </div>
    </div>
</div>
<div class="row hide" id="baro-template-editor">
    <div class="col-lg-8">
        <h3>Overzicht</h3>
        <hr />
        <div class="tree well" id="baro-template-tree">
            
        </div>
    </div>
    <div class="col-lg-4">
        <h3>Aspecten toevoegen</h3>
        <hr />
        <form class="form form-horizontal" id="form-add-aspect">
            <input type="hidden" name="baro_template_id" value="@((ViewBag.debug_id == 0) ? 0 : ViewBag.debug_id)" />
            <div class="form-group">
                <label class="control-label">Parent onderdeel</label>
                <select class="form-control" id="form-parents-select" name="parent_id">
                    <option value="0">Selecteer parent</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Is hoofd aspect</label>
                <select class="form-control" name="is_head_aspect">
                    <option value="0">Nee</option>
                    <option value="1">Ja</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Kan worden ingevuld</label>
                <select class="form-control" name="can_be_filled">
                    <option value="0">Nee</option>
                    <option value="1">Ja</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Naam</label>
                <input type="text" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Omschrijving</label>
                <textarea class="form-control" name="desription" rows="3"></textarea>
            </div>
            <div class="form-group">
                <button type="button" id="btn-save-aspect" class="btn btn-primary">Toevoegen</button>
            </div>
        </form>
    </div>
</div>
