@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>Geen externe authenticatie clients geregistreerd. Neem contact op met de helpdesk bij het zien van deze foutmelding.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Login via:</legend>
        <p>
        @foreach (AuthenticationClientData p in Model)
        {
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in met je  @p.DisplayName account" class="btn btn-danger btn-lgn">@p.DisplayName</button>
        }
        </p>
    </fieldset>
    }
}
