@model oAuthDemo.Models.LoginModel

@{
    ViewBag.Title = "Avans Barometer";
}
<html>
<body>
    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Avans barometer</h1>
                    <p>Dit beoordelingsmiddel geeft de ingelogde student, tutor of docent de mogelijkheid zijn projecten en beoordelingen te beheren. Om te beginnen klik op de passende inlogmethode hiernaast.</p>
                </div>
                        <hr />

                        <div class="form-group">
                            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                        </div>
                </div>
            </div>

        </div>

@*    </div>*@
    <!-- /container -->
@*    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
</body>
</html>
