@model string
@{
    ViewBag.Title = "Error Handler";
    Layout = "~/Views/Shared/Error.cshtml";
}


<H1>De gevraagde pagina is niet gevonden.</H1>
<br />

Error: @Model
<br />
<br />

Ga terug naar de vorige pagina